<app-navbar></app-navbar>

<div class="flex-container">
  <app-sidebar class="d-none d-lg-block"></app-sidebar>
  <div class="main-content-wrapper">
    <main
      class="flex-grow-1 p-2"
      [ngClass]="{ 'content-collapsed': (isCollapsed$ | async) }"
    >
      <div class="p-3 bg-light rounded-3">
        <h3>Workforce Analytics</h3>
        <p class="text-muted">
          Monitor key metrics, track recent activity, and analyze performance
          trends at a glance.
        </p>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
<app-footer></app-footer>
<div
  class="offcanvas offcanvas-start bg-dark text-white sidebar-custom"
  tabindex="-1"
  id="sidebarOffcanvas"
  aria-labelledby="sidebarOffcanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">
      Workforce Insight
    </h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="toggleSidebar()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-sidebar></app-sidebar>
  </div>
</div>
